<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </head>
  <body>
    <div class="title">Alterar usuário</div>
    <form action="/admin/edituser/buscar" method="POST" autocomplete="off">
      <div class="search-table1">
        <div class="first-column">
          <div class="search-user" autocomplete="off">
            <div>
              <div class="img"></div>
            </div>
            <div>
              <input spellcheck="false" class="use-keyboard-input" id="CampoBusca" type="text" name="userLogin"></input>
            </div>
          </div>
        </div>
        <div class="second-column">
          <button id="buscar" type="submit" class="btns">
            <p>Buscar</p>
          </button>
        </div>
      </div>
    </form>
    <div class="search-table1">
      <div class="first-column">
        <div class="userlist-edit">
          <div class="scroll" style="height: 466px">
            <table id='Tabela1'>
              {{#each usuarios}}
                <tr>
                  <td style="border-right: none">{{login}}</td>
                  <td style="border-left: none; border-right: none; color: transparent">{{nivel}}</td>
                </tr>
              {{else}}
                <h4 style="color:black" align="center">Nenhum usuário</h4>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
      <div class="second-column">
        <div class="frame-user" style="margin-top:20px">
          <img [src]="srcImage" [ngStyle]="{'width': !user.image ? '80%' : 'inherit', 'height': !user.image ? 'auto' : 'inherit'}" />
        </div>
        <form action="/admin/edituser/editar" method="POST">
          <input type="hidden" name="log" id="LogEditUser">
          <button id="editaDados" type="submit" class="btns" style="margin-top:15px">
            <p>Editar</p>
          </button>
        </form>
        <form action="/admin/edituser/deletar" method="POST" style="display:none">
          <input type="hidden" name="log" id="LogDeleteUser">
          <input type="hidden" name="nivel" id="NivelDeleteUser">
          <button id="deletaDados" class="btns" style="margin-top:15px"></button>
        </form>
        <button class="btns" style="margin-top:15px" onclick="abreDialogExclusao()">
          <p>Excluir</p>
        </button>
      </div>
    </div>
    <div style="visibility: hidden" id='referencia'>{{busca}}</div>

    <dialog id="dialogConfirmaExclusao" style="background: none; border: transparent">
      <form method="dialog" >
        <div class="janela-confirmaExclusao">
          <div class="contents" style="margin-top: 40px; margin-left: 30px">
            <div class="exclusao"></div>
            <p>Tem certeza de que deseja excluir este usuário?</p>
          </div>
          <div class="contents" style="margin-top: 50px; margin-left: 180px">
            <button class="btns" onclick="confirmaExclusao()">
              <p>Confirmar</p>
            </button>
            <button class="btns" onclick="fechaDialogExclusao()">
              <p>Cancelar</p>
            </button>
          </div>
        </div>
      </form>
    </dialog>

    <script>
	var _0x17abad=_0x5074;(function(_0x360a17,_0x30fb62){var _0x590901=_0x5074,_0x5bdb26=_0x360a17();while(!![]){try{var _0x276e5f=parseInt(_0x590901(0x187))/0x1*(parseInt(_0x590901(0x17a))/0x2)+parseInt(_0x590901(0x176))/0x3*(-parseInt(_0x590901(0x18b))/0x4)+parseInt(_0x590901(0x17b))/0x5+parseInt(_0x590901(0x190))/0x6+-parseInt(_0x590901(0x180))/0x7*(parseInt(_0x590901(0x18d))/0x8)+-parseInt(_0x590901(0x17d))/0x9*(-parseInt(_0x590901(0x192))/0xa)+-parseInt(_0x590901(0x189))/0xb*(parseInt(_0x590901(0x184))/0xc);if(_0x276e5f===_0x30fb62)break;else _0x5bdb26['push'](_0x5bdb26['shift']());}catch(_0x48ab93){_0x5bdb26['push'](_0x5bdb26['shift']());}}}(_0x185f,0xb59b0));var tabela=document['getElementById']('Tabela1'),linhas=tabela[_0x17abad(0x17f)]('tr'),auxBusca=document['getElementById'](_0x17abad(0x186))[_0x17abad(0x18f)];document[_0x17abad(0x17c)](_0x17abad(0x18a))[_0x17abad(0x171)]='',document[_0x17abad(0x17c)](_0x17abad(0x178))[_0x17abad(0x171)]='',document[_0x17abad(0x17c)](_0x17abad(0x177))[_0x17abad(0x171)]='',document[_0x17abad(0x17c)](_0x17abad(0x182))[_0x17abad(0x171)]=auxBusca;function _0x185f(){var _0x451cdf=['1859232xlamtA','classList','11194070EadDJe','value','click','toggle','length','close','3147525ZIZUff','NivelDeleteUser','LogDeleteUser','remove','1260218yTDKNC','4176035nVwroH','getElementById','9blKwSG','showModal','getElementsByTagName','644WptZGW','selecionado','CampoBusca','dialogConfirmaExclusao','6615744VHlFij','parentElement','referencia','1yNwWHh','getElementsByClassName','11rxRDao','LogEditUser','4XYAQiP','deletaDados','47848vVkvId','editaDados','innerHTML'];_0x185f=function(){return _0x451cdf;};return _0x185f();}for(var i=0x0;i<linhas[_0x17abad(0x174)];i++){var linha=linhas[i];linha['addEventListener'](_0x17abad(0x172),function(){selLinha(this,![]);});}function selLinha(_0x5a75f7,_0x3538a5){var _0x1b2bd3=_0x17abad;if(!_0x3538a5){var _0x5a30ca=_0x5a75f7[_0x1b2bd3(0x185)]['getElementsByTagName']('tr');for(var _0x503b17=0x0;_0x503b17<_0x5a30ca[_0x1b2bd3(0x174)];_0x503b17++){var _0x40a49b=_0x5a30ca[_0x503b17];_0x40a49b[_0x1b2bd3(0x191)][_0x1b2bd3(0x179)]('selecionado');}}_0x5a75f7[_0x1b2bd3(0x191)][_0x1b2bd3(0x173)](_0x1b2bd3(0x181));var _0x50ed99=tabela[_0x1b2bd3(0x188)](_0x1b2bd3(0x181))[0x0];_0x50ed99=_0x50ed99[_0x1b2bd3(0x17f)]('td'),document[_0x1b2bd3(0x17c)](_0x1b2bd3(0x18a))['value']=_0x50ed99[0x0]['innerHTML'],document[_0x1b2bd3(0x17c)](_0x1b2bd3(0x178))[_0x1b2bd3(0x171)]=_0x50ed99[0x0]['innerHTML'],document[_0x1b2bd3(0x17c)](_0x1b2bd3(0x177))[_0x1b2bd3(0x171)]=_0x50ed99[0x1][_0x1b2bd3(0x18f)];}var btnEditar=document['getElementById'](_0x17abad(0x18e)),btnDeletar=document[_0x17abad(0x17c)](_0x17abad(0x18c));function _0x5074(_0x1b11e4,_0x5029f9){var _0x185fb3=_0x185f();return _0x5074=function(_0x507446,_0x592df3){_0x507446=_0x507446-0x171;var _0x187465=_0x185fb3[_0x507446];return _0x187465;},_0x5074(_0x1b11e4,_0x5029f9);}function abreDialogExclusao(){var _0x424a37=_0x17abad;document[_0x424a37(0x17c)]('LogDeleteUser')[_0x424a37(0x171)]!=''?document[_0x424a37(0x17c)](_0x424a37(0x183))[_0x424a37(0x17e)]():document[_0x424a37(0x17c)](_0x424a37(0x18c))[_0x424a37(0x172)]();};function confirmaExclusao(){var _0x30c4e4=_0x17abad;document[_0x30c4e4(0x17c)]('deletaDados')[_0x30c4e4(0x172)]();};function fechaDialogExclusao(){var _0x207966=_0x17abad;document[_0x207966(0x17c)](_0x207966(0x183))[_0x207966(0x175)]();}
    </script>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/useroptions"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>
