<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/admin.css">
    <div class="head-left">
      <a href="/usuarios/main"><button class="btn_home"></button></a>
    </div>
    <div class="head-right">
      <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
    </div>
  </head>
  <body>
    <div class="title">Todas as gavetas</div>
    <div class="bg-testes" style="margin-top: 156px">
      <div class="row">
        <p>Repetições</p>
        <div class="rectangle-input" autocomplete="off">
          <input id="numrepeticoes" class="use-numpad-input" type="text"></input>
        </div>
      </div>
    </div>
    <div class="bg-testes" style="margin-top: 160px; width: 950px; justify-content: center">
      <div class="column" style="width: 300px">
        <p>Timer</p>
      </div>
      <div class="column" style="margin-left: 20px; width: 300px">
        <p>Contador</p>
      </div>
    </div>
    <div class="bg-testes">
      <div class="column" style="width: 300px">
        <div class="rectangle-show">
          <p id="temporizador">0:00:00</p>
        </div>
      </div>
      <div class="column" style="margin-left: 20px; width: 300px">
        <div class="rectangle-show">
          <p id="cont-repeticoes">0</p>
        </div>
      </div>
      <div class="column" style="margin-left: 20px">
        <div class="line"></div>
      </div>
      <div class="column" style="margin-left: 20px">
        <div class="button-108">
          <button class="download"></button>
        </div>
      </div>
      <div class="column" style="margin-left: 20px">
        <div class="button-108">
          <a href="/admin/todasgvhistorico"><button class="registro"></button></a>
        </div>
      </div>
      <div class="column" style="margin-left: 20px">
        <div class="line"></div>
      </div>
      <div class="column" style="margin-left: 20px">
        <div class="button-108">
          <button class="stop" onclick="stop()"></button>
        </div>
      </div>
      <div class="column" style="margin-left: 20px">
        <div class="button-108">
          <button id="play-pause" class="play" onclick="start()"></button>
        </div>
      </div>
    </div>
    <script  src="/socket.io/socket.io.js"></script>
    <script>
      var _0x50f4fd=_0x2670;(function(_0x46bd13,_0x56bb6a){var _0x1b54b4=_0x2670,_0x55c12d=_0x46bd13();while(!![]){try{var _0x3a1205=parseInt(_0x1b54b4(0xa7))/0x1+parseInt(_0x1b54b4(0xa6))/0x2*(parseInt(_0x1b54b4(0x9c))/0x3)+-parseInt(_0x1b54b4(0xa0))/0x4+-parseInt(_0x1b54b4(0x96))/0x5*(parseInt(_0x1b54b4(0x91))/0x6)+parseInt(_0x1b54b4(0x8d))/0x7+-parseInt(_0x1b54b4(0x9d))/0x8+parseInt(_0x1b54b4(0x8e))/0x9;if(_0x3a1205===_0x56bb6a)break;else _0x55c12d['push'](_0x55c12d['shift']());}catch(_0x3b87af){_0x55c12d['push'](_0x55c12d['shift']());}}}(_0x48fe,0x85df8));var socket=io[_0x50f4fd(0xa8)](),testeAndamento=0x0,contador=0x0,segDecorridoTeste=0x0,stringTempoDecorrido;document['getElementById']('numrepeticoes')[_0x50f4fd(0x9b)]=0x0,socket['on'](_0x50f4fd(0x90),function(_0x206134,_0x5af796){var _0x4994f2=_0x50f4fd;testeAndamento=_0x206134,contador=_0x5af796,document[_0x4994f2(0x92)]('cont-repeticoes')[_0x4994f2(0x99)]=contador,testeAndamento==0x1&&(document[_0x4994f2(0x92)](_0x4994f2(0x89))['className']=_0x4994f2(0xa5),document[_0x4994f2(0x92)](_0x4994f2(0x8c))[_0x4994f2(0xa4)]=!![]);}),socket['on'](_0x50f4fd(0x94),function(_0x330cef){var _0x235f27=_0x50f4fd;contador=_0x330cef,document[_0x235f27(0x92)]('cont-repeticoes')[_0x235f27(0x99)]=contador;}),socket['on'](_0x50f4fd(0x8b),function(){var _0x2daa29=_0x50f4fd;testeAndamento=0x0,segDecorridoTeste=0x0,document[_0x2daa29(0x92)](_0x2daa29(0x89))['className']=_0x2daa29(0xa1),document[_0x2daa29(0x92)](_0x2daa29(0x8c))[_0x2daa29(0xa4)]=![];}),socket['on'](_0x50f4fd(0x98),function(){var _0x409b41=_0x50f4fd;testeAndamento=0x0,segDecorridoTeste=0x0,document[_0x409b41(0x92)](_0x409b41(0x89))[_0x409b41(0x93)]=_0x409b41(0xa1),document[_0x409b41(0x92)]('numrepeticoes')[_0x409b41(0xa4)]=![],alert(_0x409b41(0x97));}),socket['on'](_0x50f4fd(0x8a),function(){var _0x230f90=_0x50f4fd;testeAndamento=0x0,document[_0x230f90(0x92)](_0x230f90(0x89))['className']=_0x230f90(0xa1);}),socket['on'](_0x50f4fd(0x9f),function(){var _0x260c3c=_0x50f4fd;testeAndamento=0x0,segDecorridoTeste=0x0,document[_0x260c3c(0x92)](_0x260c3c(0x89))[_0x260c3c(0x93)]=_0x260c3c(0xa1),document[_0x260c3c(0x92)](_0x260c3c(0x8c))[_0x260c3c(0xa4)]=![],document[_0x260c3c(0x92)](_0x260c3c(0x9e))['innerHTML']=0x0,document[_0x260c3c(0x92)]('temporizador')[_0x260c3c(0x99)]='0:00:00';});function start(){var _0x37117c=_0x50f4fd;if(testeAndamento==0x0){var _0x322b45=document[_0x37117c(0x92)](_0x37117c(0x8c))[_0x37117c(0x9b)];socket[_0x37117c(0x8f)](_0x37117c(0xa2),_0x322b45),testeAndamento=0x1,document['getElementById'](_0x37117c(0x89))[_0x37117c(0x93)]='pause',document['getElementById'](_0x37117c(0x8c))[_0x37117c(0xa4)]=!![];}else socket['emit'](_0x37117c(0xa9));}function stop(){var _0x2bfbec=_0x50f4fd;socket[_0x2bfbec(0x8f)](_0x2bfbec(0x9a));}function _0x2670(_0x4af822,_0x220211){var _0x48fe7c=_0x48fe();return _0x2670=function(_0x267026,_0x160482){_0x267026=_0x267026-0x89;var _0x4fee12=_0x48fe7c[_0x267026];return _0x4fee12;},_0x2670(_0x4af822,_0x220211);}setInterval(function(){var _0x4f71dd=_0x50f4fd;if(testeAndamento){var _0x3e7b50;segDecorridoTeste++,stringTempoDecorrido=Math[_0x4f71dd(0xa3)](segDecorridoTeste/0xe10),_0x3e7b50=Math[_0x4f71dd(0xa3)](segDecorridoTeste%0xe10/0x3c),_0x3e7b50<0xa&&(_0x3e7b50='0'+_0x3e7b50),stringTempoDecorrido=stringTempoDecorrido+':'+_0x3e7b50,_0x3e7b50=Math[_0x4f71dd(0xa3)](segDecorridoTeste%0xe10%0x3c),_0x3e7b50<0xa&&(_0x3e7b50='0'+_0x3e7b50),stringTempoDecorrido=stringTempoDecorrido+':'+_0x3e7b50,document[_0x4f71dd(0x92)](_0x4f71dd(0x95))[_0x4f71dd(0x99)]=stringTempoDecorrido,socket['emit']('atualizaTempTestesTodasGVs',segDecorridoTeste);}},0x3e8);function _0x48fe(){var _0x4dcdd2=['temporizador','2169455QGktjQ','O\x20teste\x20falhou!','testeFalhouTodasGVs','innerHTML','stopTesteTodasGVs','value','1554234hjMVoV','8230904ywFvfH','cont-repeticoes','testeParadoTodasGVs','1949504pVWGqG','play','testetodasgavetas','floor','disabled','pause','2WbSzca','1036305RMSApc','connect','pausaTesteTodasGVs','play-pause','testePausadoTodasGVs','testeFinalizadoTodasGVs','numrepeticoes','3643549WvjBYj','7717275AiHxSP','emit','estadoTestesTodasGVs','12PpZmeN','getElementById','className','atualizaContadorTestesTodasGVs'];_0x48fe=function(){return _0x4dcdd2;};return _0x48fe();}
    </script>
  </body>
  <foot>
    <div class="footer">
      <a href="/admin/testes"><button class="btn_return"></button></a>
    </div>
  </foot>
</html>