<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/grafico/login.css">
    <link rel="stylesheet" href="/grafico/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/dcode.css">
    <script src="/Keyboard/Keyboard.js"></script>
    <script src="/Keyboard/Numpad.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Smart Manager 4.0 - Organizador Inteligente Tramontina</title>
    <div class="head-right" style="color: white; margin-right: 70px">
      <!--<div id="bateria" style="color: white; margin-top: 20px; margin-right: 10px"></div>-->
      <div id="wifi-show" style="color: white; margin-top: -3px"></div>
      <div id="bateria-show" style="color: white; margin-left: 15px; margin-top: 21px; width: 49px"></div>
    </div>
  </head>
  <body class="bg" onload="inicializacoes()">
     <div style="margin-top:50px"></div>
    {{>_msg}}
    {{{body}}}
    </div>
    <!--<a href="/usuarios"><button id="logout" style="display: none"></button></a>-->
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var _0x54413d=_0x3a0d;function _0x3a0d(_0x5326de,_0x243a4c){var _0x7e91ff=_0x7e91();return _0x3a0d=function(_0x3a0d5e,_0x574347){_0x3a0d5e=_0x3a0d5e-0x18b;var _0x2193be=_0x7e91ff[_0x3a0d5e];return _0x2193be;},_0x3a0d(_0x5326de,_0x243a4c);}(function(_0xdcf6d1,_0x595fb3){var _0x175a31=_0x3a0d,_0x27c49f=_0xdcf6d1();while(!![]){try{var _0x5a71fb=parseInt(_0x175a31(0x192))/0x1+-parseInt(_0x175a31(0x18b))/0x2+-parseInt(_0x175a31(0x194))/0x3*(-parseInt(_0x175a31(0x1b1))/0x4)+parseInt(_0x175a31(0x1ab))/0x5*(parseInt(_0x175a31(0x1b8))/0x6)+parseInt(_0x175a31(0x19a))/0x7*(parseInt(_0x175a31(0x19b))/0x8)+parseInt(_0x175a31(0x18f))/0x9+-parseInt(_0x175a31(0x1ad))/0xa;if(_0x5a71fb===_0x595fb3)break;else _0x27c49f['push'](_0x27c49f['shift']());}catch(_0x1b59a8){_0x27c49f['push'](_0x27c49f['shift']());}}}(_0x7e91,0x8a517));var global=io[_0x54413d(0x1b0)]();function inicializacoes(){atualizaBateria(),atualizaWifi(),startTime();}function atualizaBateria(){var _0x1ccbe9=_0x54413d;global[_0x1ccbe9(0x1aa)](_0x1ccbe9(0x199)),t=setTimeout(_0x1ccbe9(0x191),0x7530);}function atualizaWifi(){var _0x386a71=_0x54413d;global[_0x386a71(0x1aa)](_0x386a71(0x1b4)),t=setTimeout(_0x386a71(0x1ae),0x1388);}global['on']('atualizaBateria',function(_0xeb2998){var _0x3345d2=_0x54413d;if(_0xeb2998=='carregada')document['getElementById'](_0x3345d2(0x1ac))['className']=_0x3345d2(0x197);else{if(_0xeb2998==_0x3345d2(0x18c))document['getElementById'](_0x3345d2(0x1ac))['className']=_0x3345d2(0x1b9);else{if(_0xeb2998==_0x3345d2(0x19f))document[_0x3345d2(0x1a7)]('bateria-show')[_0x3345d2(0x19c)]=_0x3345d2(0x1a1);else{if(_0xeb2998=='80%')document[_0x3345d2(0x1a7)](_0x3345d2(0x1ac))[_0x3345d2(0x19c)]='bateria-80';else{if(_0xeb2998==_0x3345d2(0x1b2))document[_0x3345d2(0x1a7)]('bateria-show')[_0x3345d2(0x19c)]='bateria-60';else{if(_0xeb2998==_0x3345d2(0x1a6))document[_0x3345d2(0x1a7)](_0x3345d2(0x1ac))[_0x3345d2(0x19c)]=_0x3345d2(0x1a8);else{if(_0xeb2998==_0x3345d2(0x1a0))document['getElementById']('bateria-show')[_0x3345d2(0x19c)]=_0x3345d2(0x193);else document[_0x3345d2(0x1a7)](_0x3345d2(0x1ac))[_0x3345d2(0x19c)]='bateria-piscando';}}}}}}}),global['on'](_0x54413d(0x1a4),function(_0x310d43,_0x529971){var _0x877331=_0x54413d;if(_0x310d43==0x1){if(_0x529971>=-0x3c)document['getElementById']('wifi-show')[_0x877331(0x19c)]=_0x877331(0x195);else{if(_0x529971>=-0x46)document[_0x877331(0x1a7)](_0x877331(0x18d))[_0x877331(0x19c)]=_0x877331(0x1b6);else{if(_0x529971>=-0x50)document[_0x877331(0x1a7)](_0x877331(0x18d))[_0x877331(0x19c)]=_0x877331(0x198);else document[_0x877331(0x1a7)]('wifi-show')[_0x877331(0x19c)]=_0x877331(0x196);}}}else document[_0x877331(0x1a7)](_0x877331(0x18d))[_0x877331(0x19c)]=_0x877331(0x1b7);}),global['on'](_0x54413d(0x1a2),function(){var _0x3a6855=_0x54413d;if(window[_0x3a6855(0x1a5)][_0x3a6855(0x18e)]!=_0x3a6855(0x1b3)&&window[_0x3a6855(0x1a5)][_0x3a6855(0x18e)]!=_0x3a6855(0x19e)&&window['location'][_0x3a6855(0x18e)]!=_0x3a6855(0x1a9))window[_0x3a6855(0x1a5)]='/usuarios';}),document[_0x54413d(0x1a3)](_0x54413d(0x1af),_0x5ea2f0=>{global['emit']('screenMousedown');});function startTime(){var _0x46760f=_0x54413d,_0x5067da=new Date(),_0x39b94c=_0x5067da['getHours'](),_0x3b8304=_0x5067da[_0x46760f(0x1b5)]();_0x3b8304=checkTime(_0x3b8304),document[_0x46760f(0x1a7)]('txt')[_0x46760f(0x190)]=_0x39b94c+':'+_0x3b8304,t=setTimeout(_0x46760f(0x19d),0x3e8);}function _0x7e91(){var _0x10d5fe=['http://localhost:8081/usuarios','statusWifi','getMinutes','wifi_conectado_75','wifi_desconectado','1301838YbWoTh','bateria-carregando','1797366YZInkP','carregando','wifi-show','href','4272075cBHMnT','innerHTML','atualizaBateria()','737072AMCahk','bateria-20','9GyTeBC','wifi_conectado_100','wifi_conectado_25','bateria-carregada','wifi_conectado_50','nivelBateria','1028195pvmWkO','56zzhjGY','className','startTime()','http://localhost:8081/usuarios/loginblocked','100%','20%','bateria-full','logoutUsuario','addEventListener','atualizaWifi','location','40%','getElementById','bateria-40','http://localhost:8081/admin/atualizacao','emit','15QLZxOC','bateria-show','22369200tyoIHE','atualizaWifi()','mousedown','connect','1081724UzzyMx','60%'];_0x7e91=function(){return _0x10d5fe;};return _0x7e91();}function checkTime(_0x3d259f){return _0x3d259f<0xa&&(_0x3d259f='0'+_0x3d259f),_0x3d259f;}
  </script>
  <body>
    <div id="txt" class="time"></div>
  </body>
</html>
