<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/grafico/login.css">
    <link rel="stylesheet" href="/grafico/global.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/dcode.css">
    <script src="/Keyboard/Keyboard.js"></script>
    <script src="/Keyboard/Numpad.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Smart Manager 4.0 - Organizador Inteligente Tramontina</title>
    <div class="head-right" style="color: white; margin-right: 70px">
      <!--<div id="bateria" style="color: white; margin-top: 20px; margin-right: 10px"></div>-->
      <div id="wifi-show" style="color: white; margin-top: -3px"></div>
      <div id="bateria-show" style="color: white; margin-left: 15px; margin-top: 21px; width: 49px"></div>
    </div>
  </head>
  <body class="bg" onload="inicializacoes()">
     <div style="margin-top:50px"></div>
    {{>_msg}}
    {{{body}}}
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
  <script type="text/javascript">
    var _0x1e65f3=_0x43e0;(function(_0x57ddfb,_0x414686){var _0x2a01b2=_0x43e0,_0x467884=_0x57ddfb();while(!![]){try{var _0x58aac1=parseInt(_0x2a01b2(0x173))/0x1*(-parseInt(_0x2a01b2(0x177))/0x2)+parseInt(_0x2a01b2(0x16b))/0x3+-parseInt(_0x2a01b2(0x17e))/0x4*(-parseInt(_0x2a01b2(0x167))/0x5)+-parseInt(_0x2a01b2(0x18e))/0x6+parseInt(_0x2a01b2(0x174))/0x7*(-parseInt(_0x2a01b2(0x189))/0x8)+parseInt(_0x2a01b2(0x190))/0x9*(parseInt(_0x2a01b2(0x176))/0xa)+parseInt(_0x2a01b2(0x178))/0xb*(parseInt(_0x2a01b2(0x168))/0xc);if(_0x58aac1===_0x414686)break;else _0x467884['push'](_0x467884['shift']());}catch(_0x34737a){_0x467884['push'](_0x467884['shift']());}}}(_0x3bef,0xb39d8));function _0x43e0(_0x4d581b,_0x4c5cdb){var _0x3befe5=_0x3bef();return _0x43e0=function(_0x43e0db,_0x1b765d){_0x43e0db=_0x43e0db-0x165;var _0x47e48d=_0x3befe5[_0x43e0db];return _0x47e48d;},_0x43e0(_0x4d581b,_0x4c5cdb);}var global=io[_0x1e65f3(0x183)]();function inicializacoes(){atualizaBateria(),atualizaWifi(),startTime();}function atualizaBateria(){var _0x40a124=_0x1e65f3;global[_0x40a124(0x179)](_0x40a124(0x187)),t=setTimeout('atualizaBateria()',0x7530);}function _0x3bef(){var _0x1108cb=['568ylsqqv','wifi_conectado_75','atualizaBateria','bateria-40','bateria-carregando','2017800aScGVV','getMinutes','9TuUnaI','wifi_conectado_25','bateria-60','2978755BaXkuw','350148boETem','className','wifi-show','3236967QLLxLq','wifi_conectado_100','carregando','getHours','bateria-show','100%','getElementById','startTime()','877prasxX','77826cCdAyU','innerHTML','10605480xZSssp','2858NtjMZT','143jJnpKl','emit','atualizaWifi()','bateria-full','atualizaWifi','statusWifi','4isxuio','20%','txt','bateria-80','bateria-carregada','connect','bateria-piscando','bateria-20','80%','nivelBateria','wifi_conectado_50'];_0x3bef=function(){return _0x1108cb;};return _0x3bef();}function atualizaWifi(){var _0x57ee06=_0x1e65f3;global[_0x57ee06(0x179)](_0x57ee06(0x17d)),t=setTimeout(_0x57ee06(0x17a),0x1388);}global['on'](_0x1e65f3(0x18b),function(_0x64f9fe){var _0x159e82=_0x1e65f3;if(_0x64f9fe=='carregada')document[_0x159e82(0x171)](_0x159e82(0x16f))[_0x159e82(0x169)]=_0x159e82(0x182);else{if(_0x64f9fe==_0x159e82(0x16d))document[_0x159e82(0x171)](_0x159e82(0x16f))[_0x159e82(0x169)]=_0x159e82(0x18d);else{if(_0x64f9fe==_0x159e82(0x170))document[_0x159e82(0x171)](_0x159e82(0x16f))[_0x159e82(0x169)]=_0x159e82(0x17b);else{if(_0x64f9fe==_0x159e82(0x186))document['getElementById']('bateria-show')[_0x159e82(0x169)]=_0x159e82(0x181);else{if(_0x64f9fe=='60%')document[_0x159e82(0x171)](_0x159e82(0x16f))[_0x159e82(0x169)]=_0x159e82(0x166);else{if(_0x64f9fe=='40%')document[_0x159e82(0x171)]('bateria-show')['className']=_0x159e82(0x18c);else{if(_0x64f9fe==_0x159e82(0x17f))document[_0x159e82(0x171)](_0x159e82(0x16f))[_0x159e82(0x169)]=_0x159e82(0x185);else document[_0x159e82(0x171)](_0x159e82(0x16f))[_0x159e82(0x169)]=_0x159e82(0x184);}}}}}}}),global['on'](_0x1e65f3(0x17c),function(_0x3c4298,_0x353021){var _0x50b44b=_0x1e65f3;if(_0x3c4298==0x1){if(_0x353021>=-0x3c)document['getElementById'](_0x50b44b(0x16a))['className']=_0x50b44b(0x16c);else{if(_0x353021>=-0x46)document[_0x50b44b(0x171)](_0x50b44b(0x16a))['className']=_0x50b44b(0x18a);else{if(_0x353021>=-0x50)document[_0x50b44b(0x171)]('wifi-show')[_0x50b44b(0x169)]=_0x50b44b(0x188);else document[_0x50b44b(0x171)](_0x50b44b(0x16a))['className']=_0x50b44b(0x165);}}}else document[_0x50b44b(0x171)]('wifi-show')[_0x50b44b(0x169)]='wifi_desconectado';});function startTime(){var _0x58b1b3=_0x1e65f3,_0x3522d8=new Date(),_0x40a763=_0x3522d8[_0x58b1b3(0x16e)](),_0x8c8ac1=_0x3522d8[_0x58b1b3(0x18f)]();_0x8c8ac1=checkTime(_0x8c8ac1),document[_0x58b1b3(0x171)](_0x58b1b3(0x180))[_0x58b1b3(0x175)]=_0x40a763+':'+_0x8c8ac1,t=setTimeout(_0x58b1b3(0x172),0x3e8);}function checkTime(_0x373362){return _0x373362<0xa&&(_0x373362='0'+_0x373362),_0x373362;}
  </script>
  <body>
    <div id="txt" class="time"></div>
  </body>
</html>
