<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/user.css">
  </head>
  <body>
    <div class="bg-confirmacao">
      <div class="janela-confirmacao">
        <div class="contents" style="margin-top: 80px; margin-left: 0px">
          <div class="question"></div>
          <p>Deseja iniciar o sistema sem estar completamente carregado?</p>
        </div>
        <div class="contents" style="margin-top: 85px; margin-left: 190px">
          <a href="/"><button class="btns">
            <p>Não</p>
          </button></a>
          <a href="/usuarios"><button class="btns">
            <p>Sim</p>
          </button></a>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
</html>