<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/user.css">
  </head>
  <body>
    <div class="bg-confirmacao">
      <div class="janela-confirmacao">
        <div class="contents" style="justify-content: center">
          <p style="font-size: 25px">Encerrar sessão</p>
        </div>
        <div class="contents" style="margin-top: 30px; margin-left: -50px">
          <div style="margin-left: 50px; width: 200px">
            <a href="/usuarios"><button class="user"></button></a>
            <p>Alternar usuário</p>
          </div>
          <div style="margin-left: 0px; width: 200px">
            <button class="reiniciar" onclick="reboot()"></button>
            <p>Reiniciar</p>
          </div>
          <div style="margin-left: 0px; width: 200px">
            <button class="desligar" onclick="shutdown()"></button>
            <p>Desligar</p>
          </div>
        </div>
        <div class="contents" style="margin-top: 15px; margin-right: 10px; justify-content: right">
          <button class="btns" onclick="history.back()">
            <p>Cancelar</p>
          </button>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
  <script  src="/socket.io/socket.io.js"></script>
  <script>
  var _0x3c27d7=_0x8504;(function(_0x1eaf05,_0x2b27b0){var _0x46bae4=_0x8504,_0xc97386=_0x1eaf05();while(!![]){try{var _0x3e261c=parseInt(_0x46bae4(0xd1))/0x1*(-parseInt(_0x46bae4(0xd2))/0x2)+parseInt(_0x46bae4(0xd7))/0x3+parseInt(_0x46bae4(0xcc))/0x4+-parseInt(_0x46bae4(0xcd))/0x5+parseInt(_0x46bae4(0xd5))/0x6+parseInt(_0x46bae4(0xcf))/0x7+parseInt(_0x46bae4(0xd9))/0x8*(-parseInt(_0x46bae4(0xd0))/0x9);if(_0x3e261c===_0x2b27b0)break;else _0xc97386['push'](_0xc97386['shift']());}catch(_0x4182eb){_0xc97386['push'](_0xc97386['shift']());}}}(_0x1879,0xa1ce6));var socket=io[_0x3c27d7(0xd8)]();function shutdown(){var _0x90a00c=_0x3c27d7;socket[_0x90a00c(0xce)](_0x90a00c(0xd3));}function reboot(){var _0x4ed921=_0x3c27d7;socket['emit'](_0x4ed921(0xda));}function _0x8504(_0x12afc3,_0x4783aa){var _0x18797a=_0x1879();return _0x8504=function(_0x8504f6,_0x4b64a7){_0x8504f6=_0x8504f6-0xcc;var _0x4231eb=_0x18797a[_0x8504f6];return _0x4231eb;},_0x8504(_0x12afc3,_0x4783aa);}function _0x1879(){var _0xa0db2b=['emit','6685672kTrjhS','252NDejDF','22587JLYFXm','82ODgtDP','shutdown','back','6884724edMpbY','referrer','1193604vegNNZ','connect','196408mYlUnA','reboot','2517580OrvQsP','4267800NsHtLn'];_0x1879=function(){return _0xa0db2b;};return _0x1879();}function pageReturn(){var _0xf3e503=_0x3c27d7;if(document[_0xf3e503(0xd6)]=='http://localhost:8081/usuarios/main')window['location']='/usuarios/main';else history[_0xf3e503(0xd4)]();}
  </script>
</html>