<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/user.css">
  </head>
  <body>
    <div class="bg-confirmacao">
      <div class="janela-confirmacao">
        <div class="contents" style="justify-content: center">
          <p style="font-size: 25px">Encerrar sessão</p>
        </div>
        <div class="contents" style="margin-top: 30px; margin-left: -50px">
          <div style="margin-left: 50px; width: 200px">
            <a href="/usuarios"><button class="user"></button></a>
            <p>Alternar usuário</p>
          </div>
          <div style="margin-left: 0px; width: 200px">
            <button class="reiniciar" onclick="reboot()"></button>
            <p>Reiniciar</p>
          </div>
          <div style="margin-left: 0px; width: 200px">
            <button class="desligar" onclick="shutdown()"></button>
            <p>Desligar</p>
          </div>
        </div>
        <div class="contents" style="margin-top: 15px; margin-right: 10px; justify-content: right">
          <button class="btns" onclick="pageReturn()">
            <p>Cancelar</p>
          </button>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
  <script  src="/socket.io/socket.io.js"></script>
  <script>
    function _0x2249(_0x1a4bbc,_0x58762d){var _0x5cc940=_0x5cc9();return _0x2249=function(_0x2249ba,_0x83783e){_0x2249ba=_0x2249ba-0x156;var _0x4fb341=_0x5cc940[_0x2249ba];return _0x4fb341;},_0x2249(_0x1a4bbc,_0x58762d);}(function(_0x580b17,_0x8a4f0a){var _0xe07393=_0x2249,_0x1a55be=_0x580b17();while(!![]){try{var _0x28221a=parseInt(_0xe07393(0x15c))/0x1*(parseInt(_0xe07393(0x15d))/0x2)+parseInt(_0xe07393(0x169))/0x3*(parseInt(_0xe07393(0x164))/0x4)+-parseInt(_0xe07393(0x168))/0x5+parseInt(_0xe07393(0x15f))/0x6*(parseInt(_0xe07393(0x156))/0x7)+parseInt(_0xe07393(0x158))/0x8*(-parseInt(_0xe07393(0x16a))/0x9)+parseInt(_0xe07393(0x15e))/0xa+-parseInt(_0xe07393(0x159))/0xb*(parseInt(_0xe07393(0x157))/0xc);if(_0x28221a===_0x8a4f0a)break;else _0x1a55be['push'](_0x1a55be['shift']());}catch(_0x439bd1){_0x1a55be['push'](_0x1a55be['shift']());}}}(_0x5cc9,0x788ca));function _0x5cc9(){var _0x3f13c7=['emit','http://localhost:8081/usuarios/tools','http://localhost:8081/usuarios/compGaveta','indexOf','3423764IwNoqx','referrer','reboot','shutdown','3156920OTyHOI','3MkawDb','68598ATjuNk','http://localhost:8081/usuarios/main','1246KhOQJb','12PaljNB','64jJnDmO','18582179rCvwzS','back','location','17DLIELE','61096ICbBSo','5713580haQIrW','31308cHbSRb'];_0x5cc9=function(){return _0x3f13c7;};return _0x5cc9();}var socket=io['connect']();function shutdown(){var _0x152c8a=_0x2249;socket[_0x152c8a(0x160)](_0x152c8a(0x167));}function reboot(){var _0x33ba06=_0x2249;socket[_0x33ba06(0x160)](_0x33ba06(0x166));}function pageReturn(){var _0x2a2077=_0x2249;if(document['referrer']==_0x2a2077(0x16b)||document[_0x2a2077(0x165)]==_0x2a2077(0x161)||document[_0x2a2077(0x165)][_0x2a2077(0x163)]('http://localhost:8081/usuarios/gaveta')>-0x1||document['referrer'][_0x2a2077(0x163)](_0x2a2077(0x162))>-0x1)window[_0x2a2077(0x15b)]=document[_0x2a2077(0x165)];else history[_0x2a2077(0x15a)]();}
  </script>
</html>