<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/grafico/user.css">
  </head>
  <body>
    <div class="bg-confirmacao">
      <div class="janela-confirmacao">
        <div class="contents" style="justify-content: center">
          <p style="font-size: 25px">Encerrar sessão</p>
        </div>
        <div class="contents" style="margin-top: 30px; margin-left: -50px">
          <div style="margin-left: 50px; width: 200px">
            <a href="/usuarios"><button class="user"></button></a>
            <p>Alternar usuário</p>
          </div>
          <div style="margin-left: 0px; width: 200px">
            <button class="reiniciar" onclick="reboot()"></button>
            <p>Reiniciar</p>
          </div>
          <div style="margin-left: 0px; width: 200px">
            <button class="desligar" onclick="shutdown()"></button>
            <p>Desligar</p>
          </div>
        </div>
        <div class="contents" style="margin-top: 15px; margin-right: 10px; justify-content: right">
          <button class="btns" onclick="pageReturn()">
            <p>Cancelar</p>
          </button>
        </div>
      </div>
    </div>
  </body>
  <foot>
  </foot>
  <script  src="/socket.io/socket.io.js"></script>
  <script>
  function _0x1174(){var _0x14a549=['11gsejVS','15304MUdVpP','shutdown','60YpUJtV','5283DbXvVw','location','emit','1226194wFKsbh','connect','10591550JCjJhJ','3688146XAQdnD','32075tFqMCL','referrer','reboot','808CjzLxq','4318783flzqEL','74870oqzUuB'];_0x1174=function(){return _0x14a549;};return _0x1174();}var _0x5ae878=_0x2751;function _0x2751(_0x2daa34,_0x540bbb){var _0x11749c=_0x1174();return _0x2751=function(_0x2751b8,_0xdea0aa){_0x2751b8=_0x2751b8-0x1c2;var _0x3c1442=_0x11749c[_0x2751b8];return _0x3c1442;},_0x2751(_0x2daa34,_0x540bbb);}(function(_0x4ce47c,_0x4fca49){var _0x19e5b1=_0x2751,_0xa0b6f1=_0x4ce47c();while(!![]){try{var _0x39a474=parseInt(_0x19e5b1(0x1c8))/0x1+-parseInt(_0x19e5b1(0x1d1))/0x2*(-parseInt(_0x19e5b1(0x1c4))/0x3)+parseInt(_0x19e5b1(0x1cf))/0x4*(-parseInt(_0x19e5b1(0x1cc))/0x5)+-parseInt(_0x19e5b1(0x1cb))/0x6+parseInt(_0x19e5b1(0x1d0))/0x7+parseInt(_0x19e5b1(0x1c2))/0x8*(parseInt(_0x19e5b1(0x1c5))/0x9)+-parseInt(_0x19e5b1(0x1ca))/0xa*(parseInt(_0x19e5b1(0x1d2))/0xb);if(_0x39a474===_0x4fca49)break;else _0xa0b6f1['push'](_0xa0b6f1['shift']());}catch(_0xc2f431){_0xa0b6f1['push'](_0xa0b6f1['shift']());}}}(_0x1174,0xb5e9e));var socket=io[_0x5ae878(0x1c9)]();function shutdown(){var _0x31100d=_0x5ae878;socket[_0x31100d(0x1c7)](_0x31100d(0x1c3));}function reboot(){var _0x3ef51b=_0x5ae878;socket[_0x3ef51b(0x1c7)](_0x3ef51b(0x1ce));}function pageReturn(){var _0x560b36=_0x5ae878;'referrer'in document?window[_0x560b36(0x1c6)]=document[_0x560b36(0x1cd)]:history['go'](-0x1);}
  </script>
</html>