<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grafico/user.css">
  <div class="head-left">
    <a href="/usuarios/main"><button class="btn_home"></button></a>
  </div>
  <div class="head-right">
    <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
  </div>
</head>
<body>
  <div class="title">Manual de uso</div>
</body>
<foot>
  <div class="footer">
    <a href="/usuarios/main"><button class="btn_return"></button></a>
  </div>
</foot>
</html>