<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grafico/user.css">
  <div class="head-left">
    <a href="/usuarios/main"><button class="btn_home"></button></a>
  </div>
  <div class="head-right">
    <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
  </div>
</head>
<body>
  <div class="img-zoom-container" style="margin-top:95px; margin-left: 10px">
    <img id="imgManual" src="../manual/manual-1.png" width="852" height="603">
    <div>
      <div id="imgZoom" class="img-zoom-result" style="margin-left: 10px; border: none"></div>
      <div class="page-user" style="margin-top: 10px; margin-left: 10px">
        <button id="idGaveta_up" onclick="manualPage_inicial()" class="btn_left"><p><<</p></button>
        <button id="idGaveta_up" onclick="manualPage_down()" class="btn_left" style="margin-left:20px"><p><</p></button>
        <button id="idGaveta_down" onclick="manualPage_up()" class="btn_right" style="margin-left:10px"><p>></p></button>
        <button id="idGaveta_down" onclick="manualPage_final()" class="btn_right" style="margin-left:20px"><p>>></p></button>
      </div>
      <div class="page-user">
        <div class="info-column" style="margin-top: -10px">
          <p id="identPagina"></p>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
  var _0x93cbc8=_0x1062;(function(_0x2939cb,_0x5e63da){var _0x4d82d8=_0x1062,_0x2c3152=_0x2939cb();while(!![]){try{var _0x44dc6e=-parseInt(_0x4d82d8(0x171))/0x1*(parseInt(_0x4d82d8(0x179))/0x2)+-parseInt(_0x4d82d8(0x15a))/0x3*(-parseInt(_0x4d82d8(0x166))/0x4)+parseInt(_0x4d82d8(0x168))/0x5+parseInt(_0x4d82d8(0x157))/0x6+-parseInt(_0x4d82d8(0x15f))/0x7*(-parseInt(_0x4d82d8(0x17d))/0x8)+parseInt(_0x4d82d8(0x182))/0x9*(parseInt(_0x4d82d8(0x161))/0xa)+parseInt(_0x4d82d8(0x16c))/0xb;if(_0x44dc6e===_0x5e63da)break;else _0x2c3152['push'](_0x2c3152['shift']());}catch(_0x5ef220){_0x2c3152['push'](_0x2c3152['shift']());}}}(_0x1466,0x86b81));var pagina=0x1,numeroPaginas=0x13,zoomAtivo=0x0;document[_0x93cbc8(0x16a)](_0x93cbc8(0x155))[_0x93cbc8(0x175)]='Página\x20'+String(pagina)+'\x20de\x20'+String(numeroPaginas*0x2-0x1),document[_0x93cbc8(0x16a)](_0x93cbc8(0x183))['src']=_0x93cbc8(0x158)+String(pagina)+'.png';function manualPage_up(){var _0x539e48=_0x93cbc8;if(pagina<numeroPaginas){pagina=pagina+0x1;if(pagina==0x1)document[_0x539e48(0x16a)](_0x539e48(0x155))[_0x539e48(0x175)]='Página\x20'+String(pagina)+_0x539e48(0x170)+String(numeroPaginas*0x2-0x1);else document[_0x539e48(0x16a)](_0x539e48(0x155))[_0x539e48(0x175)]=_0x539e48(0x173)+String(pagina*0x2-0x2)+'-'+String(pagina*0x2-0x1)+_0x539e48(0x170)+String(numeroPaginas*0x2-0x1);document[_0x539e48(0x16a)](_0x539e48(0x183))[_0x539e48(0x17b)]='../manual/manual-'+String(pagina)+_0x539e48(0x164),imageZoom('imgManual',_0x539e48(0x180),0x1);}}function manualPage_down(){var _0x39503b=_0x93cbc8;if(pagina>0x1){pagina=pagina-0x1;if(pagina==0x1)document[_0x39503b(0x16a)](_0x39503b(0x155))[_0x39503b(0x175)]=_0x39503b(0x16e)+String(pagina)+_0x39503b(0x170)+String(numeroPaginas*0x2-0x1);else document['getElementById'](_0x39503b(0x155))[_0x39503b(0x175)]=_0x39503b(0x173)+String(pagina*0x2-0x2)+'-'+String(pagina*0x2-0x1)+_0x39503b(0x170)+String(numeroPaginas*0x2-0x1);document[_0x39503b(0x16a)](_0x39503b(0x183))[_0x39503b(0x17b)]=_0x39503b(0x158)+String(pagina)+'.png',imageZoom(_0x39503b(0x183),_0x39503b(0x180),0x1);}}function _0x1062(_0xf91441,_0x60c146){var _0x14665f=_0x1466();return _0x1062=function(_0x1062d7,_0x12afe5){_0x1062d7=_0x1062d7-0x155;var _0x10ed7d=_0x14665f[_0x1062d7];return _0x10ed7d;},_0x1062(_0xf91441,_0x60c146);}function manualPage_inicial(){var _0x566fa2=_0x93cbc8;pagina=0x1;if(pagina==0x1)document[_0x566fa2(0x16a)](_0x566fa2(0x155))[_0x566fa2(0x175)]=_0x566fa2(0x16e)+String(pagina)+_0x566fa2(0x170)+String(numeroPaginas*0x2-0x1);else document['getElementById'](_0x566fa2(0x155))[_0x566fa2(0x175)]='Páginas\x20'+String(pagina*0x2-0x2)+'-'+String(pagina*0x2-0x1)+_0x566fa2(0x170)+String(numeroPaginas*0x2-0x1);document['getElementById'](_0x566fa2(0x183))['src']=_0x566fa2(0x158)+String(pagina)+_0x566fa2(0x164),imageZoom(_0x566fa2(0x183),_0x566fa2(0x180),0x1);}function manualPage_final(){var _0xe3ed3=_0x93cbc8;pagina=numeroPaginas;if(pagina==0x1)document[_0xe3ed3(0x16a)](_0xe3ed3(0x155))[_0xe3ed3(0x175)]=_0xe3ed3(0x16e)+String(pagina)+_0xe3ed3(0x170)+String(numeroPaginas*0x2-0x1);else document[_0xe3ed3(0x16a)]('identPagina')['innerHTML']='Páginas\x20'+String(pagina*0x2-0x2)+'-'+String(pagina*0x2-0x1)+_0xe3ed3(0x170)+String(numeroPaginas*0x2-0x1);document[_0xe3ed3(0x16a)](_0xe3ed3(0x183))[_0xe3ed3(0x17b)]=_0xe3ed3(0x158)+String(pagina)+_0xe3ed3(0x164),imageZoom('imgManual',_0xe3ed3(0x180),0x1);}function _0x1466(){var _0x3eeec4=['28DelqYs','backgroundImage','src','event','17224pBBivu','insertBefore','addEventListener','imgZoom','pageYOffset','54423eILsyC','imgManual','identPagina','createElement','264246EsqGKD','../manual/manual-','img-zoom-lens','6GlVSuZ','width','parentElement','height','touchmove','1589AlklDT','left','530TUnQrI','top','backgroundSize','.png','pageX','127944IoYQuT','mousemove','3495840GHnpyV','px\x20','getElementById','offsetHeight','243100yIELbr','offsetWidth','Página\x20','style','\x20de\x20','77621mYhkjS','DIV','Páginas\x20','setAttribute','innerHTML','getBoundingClientRect','url(\x27','px\x20-'];_0x1466=function(){return _0x3eeec4;};return _0x1466();}function imageZoom(_0x284455,_0x101be3,_0x25c34b){var _0x57c2f2=_0x93cbc8,_0x2e9c48,_0x4447a6,_0x66a7a4,_0x342927,_0x2b5a49;_0x2e9c48=document[_0x57c2f2(0x16a)](_0x284455),_0x66a7a4=document[_0x57c2f2(0x16a)](_0x101be3),_0x4447a6=document[_0x57c2f2(0x156)](_0x57c2f2(0x172)),_0x4447a6[_0x57c2f2(0x174)]('class',_0x57c2f2(0x159));_0x25c34b==0x0&&_0x2e9c48[_0x57c2f2(0x15c)][_0x57c2f2(0x17e)](_0x4447a6,_0x2e9c48);_0x342927=_0x66a7a4['offsetWidth']/_0x4447a6[_0x57c2f2(0x16d)],_0x2b5a49=_0x66a7a4[_0x57c2f2(0x16b)]/_0x4447a6['offsetHeight'],_0x66a7a4[_0x57c2f2(0x16f)][_0x57c2f2(0x17a)]=_0x57c2f2(0x177)+_0x2e9c48[_0x57c2f2(0x17b)]+'\x27)',_0x66a7a4[_0x57c2f2(0x16f)][_0x57c2f2(0x163)]=_0x2e9c48[_0x57c2f2(0x15b)]*_0x342927+_0x57c2f2(0x169)+_0x2e9c48[_0x57c2f2(0x15d)]*_0x2b5a49+'px',_0x4447a6[_0x57c2f2(0x17f)]('mousemove',_0x2a8c5a),_0x2e9c48['addEventListener'](_0x57c2f2(0x167),_0x2a8c5a),_0x4447a6[_0x57c2f2(0x17f)](_0x57c2f2(0x15e),_0x2a8c5a),_0x2e9c48[_0x57c2f2(0x17f)](_0x57c2f2(0x15e),_0x2a8c5a);function _0x2a8c5a(_0x4458c3){var _0x16f302=_0x57c2f2,_0x4a1388,_0x37c277,_0x14e7e6;_0x4458c3['preventDefault'](),_0x4a1388=_0x72b952(_0x4458c3),_0x37c277=_0x4a1388['x']-_0x4447a6['offsetWidth']/0x2,_0x14e7e6=_0x4a1388['y']-_0x4447a6[_0x16f302(0x16b)]/0x2,_0x37c277>_0x2e9c48['width']-_0x4447a6[_0x16f302(0x16d)]&&(_0x37c277=_0x2e9c48['width']-_0x4447a6[_0x16f302(0x16d)]),_0x37c277<0x0&&(_0x37c277=0x0),_0x14e7e6>_0x2e9c48[_0x16f302(0x15d)]-_0x4447a6[_0x16f302(0x16b)]&&(_0x14e7e6=_0x2e9c48[_0x16f302(0x15d)]-_0x4447a6['offsetHeight']),_0x14e7e6<0x0&&(_0x14e7e6=0x0),_0x4447a6[_0x16f302(0x16f)][_0x16f302(0x160)]=_0x37c277+'px',_0x4447a6[_0x16f302(0x16f)][_0x16f302(0x162)]=_0x14e7e6+'px',_0x66a7a4[_0x16f302(0x16f)]['backgroundPosition']='-'+_0x37c277*_0x342927+_0x16f302(0x178)+_0x14e7e6*_0x2b5a49+'px';}function _0x72b952(_0x591b12){var _0x1f8483=_0x57c2f2,_0xd3ade7,_0x4ea5c6=0x0,_0x2bb2fc=0x0;return _0x591b12=_0x591b12||window[_0x1f8483(0x17c)],_0xd3ade7=_0x2e9c48[_0x1f8483(0x176)](),_0x4ea5c6=_0x591b12[_0x1f8483(0x165)]-_0xd3ade7[_0x1f8483(0x160)],_0x2bb2fc=_0x591b12['pageY']-_0xd3ade7['top'],_0x4ea5c6=_0x4ea5c6-window['pageXOffset'],_0x2bb2fc=_0x2bb2fc-window[_0x1f8483(0x181)],{'x':_0x4ea5c6,'y':_0x2bb2fc};}}imageZoom(_0x93cbc8(0x183),_0x93cbc8(0x180),0x0);
</script>
<foot>
  <div class="footer">
    <a href="/usuarios/main"><button class="btn_return"></button></a>
  </div>
</foot>
</html>