
<!--<!DOCTYPE html>
<html>
  <head>
    <title>PDF Viewer</title>
  </head>
  <body>
  
    <div>
        <iframe src='manual.pdf' width="500" height="678"></iframe>
    </div>

  </body>
</html>-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/grafico/user.css">
  <div class="head-left">
    <a href="/usuarios/main"><button class="btn_home"></button></a>
  </div>
  <div class="head-right">
    <a href="/usuarios/teladesligar"><button class="btn_shutdown"></button></a>
  </div>
</head>
<body>
  <div class="title">Manual de uso</div>
  <div class="page-user" id="frame-main">
    <div style="margin-left: 0px">
      <div id="titulo" class="title"></div>
      <div class="imagem_manual" id="paginaManual" style="background-image: url('../manual/manual-1.png')"></div>
      <div class="page-user" style="margin-top: 33px">
        <button id="idGaveta_up" onclick="manualPage_inicial()" class="btn_left"><p><<</p></button>
        <button id="idGaveta_up" onclick="manualPage_down()" class="btn_left" style="margin-left:10px"><p><</p></button>
        <div class="info-column">
          <p id="identPagina"></p>
        </div>
        <button id="idGaveta_down" onclick="manualPage_up()" class="btn_right" style="margin-left:10px"><p>></p></button>
        <button id="idGaveta_down" onclick="manualPage_final()" class="btn_right" style="margin-left:10px"><p>>></p></button>
        </div>
    </div>
  </div>
</body>
<script  src="/socket.io/socket.io.js"></script>
<script>
var _0x5b2f3f=_0xe478;(function(_0x2a4ea3,_0x52703d){var _0x34012d=_0xe478,_0x281a3d=_0x2a4ea3();while(!![]){try{var _0x4c8284=-parseInt(_0x34012d(0x157))/0x1+-parseInt(_0x34012d(0x159))/0x2*(-parseInt(_0x34012d(0x154))/0x3)+parseInt(_0x34012d(0x15a))/0x4*(-parseInt(_0x34012d(0x160))/0x5)+parseInt(_0x34012d(0x14d))/0x6*(parseInt(_0x34012d(0x158))/0x7)+parseInt(_0x34012d(0x156))/0x8+-parseInt(_0x34012d(0x15b))/0x9*(parseInt(_0x34012d(0x14b))/0xa)+parseInt(_0x34012d(0x15c))/0xb*(parseInt(_0x34012d(0x15f))/0xc);if(_0x4c8284===_0x52703d)break;else _0x281a3d['push'](_0x281a3d['shift']());}catch(_0x351189){_0x281a3d['push'](_0x281a3d['shift']());}}}(_0x3568,0xe2b6b));var pagina=0x1,numeroPaginas=0x22;document[_0x5b2f3f(0x15e)](_0x5b2f3f(0x155))[_0x5b2f3f(0x15d)]=_0x5b2f3f(0x14e)+String(pagina)+_0x5b2f3f(0x153)+String(numeroPaginas);function manualPage_up(){var _0x31e241=_0x5b2f3f;pagina<numeroPaginas&&(pagina=pagina+0x1,document[_0x31e241(0x15e)](_0x31e241(0x155))[_0x31e241(0x15d)]=_0x31e241(0x14e)+String(pagina)+_0x31e241(0x153)+String(numeroPaginas),document['getElementById']('paginaManual')['style'][_0x31e241(0x14c)]=_0x31e241(0x14f)+String(pagina)+_0x31e241(0x150));}function manualPage_down(){var _0x40f169=_0x5b2f3f;pagina>0x1&&(pagina=pagina-0x1,document[_0x40f169(0x15e)](_0x40f169(0x155))[_0x40f169(0x15d)]=_0x40f169(0x14e)+String(pagina)+_0x40f169(0x153)+String(numeroPaginas),document[_0x40f169(0x15e)](_0x40f169(0x151))['style'][_0x40f169(0x14c)]=_0x40f169(0x14f)+String(pagina)+_0x40f169(0x150));}function manualPage_inicial(){var _0x5be1d6=_0x5b2f3f;pagina=0x1,document[_0x5be1d6(0x15e)](_0x5be1d6(0x155))['innerHTML']=_0x5be1d6(0x14e)+String(pagina)+_0x5be1d6(0x153)+String(numeroPaginas),document[_0x5be1d6(0x15e)](_0x5be1d6(0x151))['style'][_0x5be1d6(0x14c)]=_0x5be1d6(0x14f)+String(pagina)+_0x5be1d6(0x150);}function manualPage_final(){var _0x55c094=_0x5b2f3f;pagina=numeroPaginas,document[_0x55c094(0x15e)](_0x55c094(0x155))[_0x55c094(0x15d)]=_0x55c094(0x14e)+String(pagina)+_0x55c094(0x153)+String(numeroPaginas),document[_0x55c094(0x15e)](_0x55c094(0x151))[_0x55c094(0x152)][_0x55c094(0x14c)]=_0x55c094(0x14f)+String(pagina)+_0x55c094(0x150);}function _0xe478(_0x33ed47,_0x5160be){var _0x356857=_0x3568();return _0xe478=function(_0xe478b0,_0x70f086){_0xe478b0=_0xe478b0-0x14b;var _0x29ad24=_0x356857[_0xe478b0];return _0x29ad24;},_0xe478(_0x33ed47,_0x5160be);}function _0x3568(){var _0x2e7221=['112UVzJQX','160HBuQRC','252ddPoPm','2579823YREWAn','1080871vmOmvq','innerHTML','getElementById','120bGaxqM','41335Jdqoef','50IyXxuU','backgroundImage','302298gYJNlj','Página\x20','url(\x27../manual/manual-','.png\x27)','paginaManual','style','\x20de\x20','378Tzvkpl','identPagina','10118216qnfYLS','180920XdaSSs'];_0x3568=function(){return _0x2e7221;};return _0x3568();}
</script>
<foot>
  <div class="footer">
    <a href="/usuarios/main"><button class="btn_return"></button></a>
  </div>
</foot>
</html>